body {
    color: #eee;
    background: #000;
    line-height: 1.4;
    font-size: 22px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
input {
    font-size: 22px;
    background: #333;
    color: #eee;
    border:1px solid #666;
}

img {
    border: none;
}

a {
    border: none;
    color: #eee;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.photo {
    margin: 10px;
}
.photo img {
    max-width: 120px;
    max-height: 120px;
    cursor: pointer;
}
#footer {
    margin-top: 60px;
}
