body {
    color: #eee;
    background: #000;
    line-height: 1.4;
    font-size: 22px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#post-photo input {
    font-size: 22px;
    background: #333;
    color: #eee;
    border:1px solid #666;
}

img {
    border: none;
}

a {
    border: none;
    color: #eee;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.photos{
    margin: 0;
    padding: 0;
}
.photo {
    margin: 20px;
    width: 150px;
/*     height: 170px; */
    display: inline-block;
    background: #fff;
    padding: 5px;
}
.photo .picture {
    width: 150px;
    height: 150px;
    text-align: center;
}
.photo img {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    margin: auto;
}

.photo input {
    width: 150px;
    font-size: 8px;
}

.photo .detail, .photo .detail a {
    padding-top: 3px;
    display: block;
    font-size: 11px;
    color: #333;
    width: 100%;
    overflow: hidden;
}

.photo .delete, .photo .delete a {
    font-size: 11px;
    color: #333;
}

#footer {
    margin-top: 60px;
}

form#post-photo {
    margin: 0px;
}

.message{
    font-size: 60%;
    margin: 0px 20px 30px 10px;
}
#error {
    display: none;
}

#album {
    margin: 80px 30px 20px 30px;
}

form#post-photo .indicator {
     visibility: hidden;
     vertical-align: middle;
}
form#post-photo.loading .indicator{
     visibility: visible;
}

form#post-photo.loading .submit {
    display: none;
}

.post-photo-box {
    display: none;
    margin-left: 10px;
}

.post-photo-box a {
    margin-right: 1em;
}

.post-photo-box-button {
    margin-left: 10px;
}

.post-photo-box .util {
    font-size: 80%;
}

h1 {
    margin-left: 10px;
}