textarea.block {
  display: block;
}
.logify-history {
  max-height: 20em;
  overflow: scroll;
}
.logify-history .logify-item {
  font-size: 80%;
}
.logify-history .logify-item:hover {
  cursor: pointer;
  background: #eee;
}
input#title {
  width: 400px;
}
textarea#body {
  width: 400px;
  height: 300px;
}
