<html>
  <head>
    <title>albums</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/css/album.css" type="text/css" media="all" />
    <script type="text/javascript" src="/js/jquery.js"></script>
  </head>
  <body>
    <h1><a href="/album/">albums</a></h1>
    <table class="album">
      <th width="70%">album</th>
      <th>bookmarklet</th>
    {% for album in albums %}
    <tr>
      <td><a href="{{ album.root_url|escape }}">{{ album.name|escape }}</a></td>
      <td><a href="javascript:location.href='http://hitode909.appspot.com/album/{{album.name|escape}}/?post=' + encodeURIComponent(location.href);">{{album.name|escape}}!</a></td>
    </tr>
    {% endfor %}
    </table>
    </ul>
  </body>
</html>
