<html>
  <head>
    <link rel="stylesheet" href="/css/album.css" type="text/css" media="all" />
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript">
      $.extend({
      albumName: "{{ album_name|escape }}"
      });
    </script>
    <script type="text/javascript" src="/js/album.js"></script>
    <script type="text/javascript" src="/jquery-lightbox-0.5/js/jquery.lightbox-0.5.pack.js"></script>
    <link rel="stylesheet" type="text/css" href="/jquery-lightbox-0.5/css/jquery.lightbox-0.5.css" media="screen" />
  </head>
  <body>
    <h1>{{ album_name|escape }}</h1>
    <form id="post-photo" method="post" action="/album/{{ album_name|escape }}/api">
      <input type="text" name="photo_url" size="60" />
      <input type="submit" value="Post" />
    </form>
    <div id="album"></div>
    <div id="footer"><a href="/album/{{ album_name|escape }}/api">API</a></div>
  </body>
</html>
