<html>
  <head>
    <title>{{ album_name|escape }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/css/album.css" type="text/css" media="all" />
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript">
      $.extend({
      albumName: "{{ album_name|escape }}"
      });
    </script>
    <script type="text/javascript" src="/js/album.js"></script>
    <script type="text/javascript" src="/jquery-lightbox-0.5/js/jquery.lightbox-0.5.pack.js"></script>
    <link rel="stylesheet" type="text/css" href="/jquery-lightbox-0.5/css/jquery.lightbox-0.5.css" media="screen" />
  </head>
  <body>
    <h1><a href="/album/{{album_name|escape}}/">{{ album_name|escape }}</a></h1>
    <a class="post-photo-box-button" href=".">Post</a>
    <div class="post-photo-box">
      <form id="post-photo" method="post" action="/album/{{ album_name|escape }}/api">
        <input type="text" name="url" size="60" value="{{posting_url|escape}}"/>
        <input type="submit" value="Post" class="submit" />
        <img src="/image/loading-big.gif" class="indicator" />
      </form>
      <div clas="utility">
        <a href="javascript:location.href='http://hitode909.appspot.com/album/{{album_name|escape}}/?post=' + encodeURIComponent(location.href);">Bookmarklet</a>
        <a href="/album/{{ album_name|escape }}/api">API</a>
      </div>
    </div>
    <div id="error" class="message"></div>
    <div id="album"><ul class="photos"></ul></div>
  </body>
</html>
